
/* ==========================================================================
--------------------------------Fonts End---------------------------------------
========================================================================== */

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}


/* ==========================================================================
----------------------------Helper Classes End----------------------------------
========================================================================== */

* {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

input, select, button, a {
    outline: none;
    text-decoration: none;
}
/* ==========================================================================
--------------------------------End Reset---------------------------------------
========================================================================== */

html{

}

body{

}

canvas{
    position: fixed;
    left: 0;
    top: 0;
    display: block;
    background-size: cover;
}

/* ==========================================================================
-------------------------------Min Points------------------------------------
========================================================================== */

@media only screen and (min-width : 480px) {

}

@media only screen and (min-width : 768px) {

}

@media only screen and (min-width : 992px) {

}

@media only screen and (min-width : 1200px) {

}


/* ==========================================================================
-------------------------------Max Points------------------------------------
========================================================================== */

@media only screen and (max-width : 1199px) {

}

@media only screen and (max-width : 991px) {

}

@media only screen and (max-width : 1023px) {

}

@media only screen and (max-width : 767px) {

}

@media only screen and (max-width : 479px) {

}
